.comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  color: #000;
  border-color: transparent;
}

.comment__status {
  display: flex;
  flex-basis: 100px;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 8px;
}

.comment__body {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.comment__input {
  width: 100%;
  outline: none;
  resize: none;
}

.comment__box {
  width: 40px;
  height: 40px;
}

.comment__box--odd {
  background-color: orange;
}

.comment__box--even {
  background-color: navy;
}

.comment__box--add {
  background-color: lightgray;

}
