.comment {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 8px;
  border: 1px solid rgb(233, 62, 62);
}

.comment__status {
  display: flex;
  flex-basis: 100px;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid #000;
  margin-right: 8px;
  padding: 8px;
}

.comment__box {
  width: 80px;
  height: 80px;
  border: 1px solid #000;
  background-color: greenyellow;
}
