.App {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.App__sidebar {
  border: 1px solid #000;
  padding: 4px 20px;
}

.App__main {
  border: 1px solid #000;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  column-gap: 20px;
  padding: 4px 20px;
}

.App__items {
  border: 1px dotted rgb(221, 255, 0);
  padding: 4px;
  flex-basis: 1;
  flex-grow: 1;
  height: 60%;
  color: blue;
}

.App__comments {
  border: 1px dotted greenyellow;
  padding: 4px;
  height:80%;
  flex-basis: 1;
  flex-grow: 1;
  color: red;
}
