.additem {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.form__container {
  padding: 0 1rem;
}

.form__input {
  margin-bottom: 1rem;
}

.itemlist {
  position: relative;
}
